// --- base ---
@import "base/base";
@import "base/mixins";
@import "base/variables";
@import "base/keyframes";
@import "global/global";
@import "global/rtl";

// --- page components ---
@import "blocks/common/header";
@import "blocks/blog/pagination";
@import "blocks/blog/aside";
@import "blocks/common/footer";