// --- map section ---

.contacts_map {
    height: 330px;

    #map {
        height: 100%;
    }
}

// --- media queries ---

// tablet landscape
@media screen and (min-width: 1024.98px) {
    .contacts_map {
        height: 660px;
    }
}