// --- colors ---
$primary: #001F3F;
$secondary: #0DA574;
$accent: #FFC631;
$gray: #A9A9A9;
$lightgray: #E9E6E6;
$black: #000810;
$blackalt: #202C38;

// effects
$card: 1px solid #C8C8C8;

// --- typography ---
$bodyFont: "Roboto", sans-serif;
$accentFont: "Archivo", sans-serif;
